<div class="row row-cols-1 row-cols-md-3 mb-3 text-center">
    <div class="col">
      <div class="card mb-4 rounded-3 shadow-sm">
        <div class="card-header py-3">
          <h4 class="my-0 fw-normal">Banana</h4>
        </div>
        <div class="card-body">
          <h1 class="card-title pricing-card-title">$1<small class="text-muted fw-light">/piece</small></h1>
          <ul class="list-unstyled mt-3 mb-4">
            <li>Organic</li>
             </ul>
          <button type="button" class="w-100 btn btn-lg btn-outline-primary">Fruit</button>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card mb-4 rounded-3 shadow-sm">
        <div class="card-header py-3">
          <h4 class="my-0 fw-normal">Kiwi</h4>
        </div>
        <div class="card-body">
          <h1 class="card-title pricing-card-title">$2<small class="text-muted fw-light">each</small></h1>
          <ul class="list-unstyled mt-3 mb-4">
            <li>Organic</li>
            </ul>
          <button type="button" class="w-100 btn btn-lg btn-primary">Fruit</button>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card mb-4 rounded-3 shadow-sm border-primary">
        <div class="card-header py-3 text-white bg-primary border-primary">
          <h4 class="my-0 fw-normal">Onions</h4>
        </div>
        <div class="card-body">
          <h1 class="card-title pricing-card-title">$7<small class="text-muted fw-light">lb</small></h1>
          <ul class="list-unstyled mt-3 mb-4">
            <li>Non Organic</li>
             </ul>
          <button type="button" class="w-100 btn btn-lg btn-primary">Vegetable</button>
        </div>
      </div>
    </div>
  </div>

